<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Homie</title>

    <link rel="stylesheet" href="../static/style.css">
</head>

<body>


<div class="container-root">

    
    
    <div class="header">
        <img src="/static/img1.svg" alt="ciao">
        <img src="/static/img2.svg">
    </div>

    <div class="container">
        <ol class="chat">
        </ol>
    </div>

    <input aria-label="Type here the text to process" id="userquery" class="textarea" type="text"
           placeholder="Type here!"/>
    <button id="rec" class="btn">     
    </button>
    <img class="hbutt" src="/static/button.svg">

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/converse.js"></script>
</body>
</html>
